/*La fuente, el reset, las clases y cosas que yo genere para pisar boodstrap
/** tambien se comenta asi*/
/*----RESET------*/
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Azeret Mono;
  color: black;
  width: 100%; }

/*----HEADER------*/
header.encabezado {
  background-color: black;
  width: 100%;
  height: 100px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header.encabezado nav.navbar {
    height: 100px;
    margin: 0px !important;
    padding: 0px !important; }
    header.encabezado nav.navbar a {
      color: whitesmoke !important;
      font-size: 18px !important;
      background-color: black;
      padding-left: 15px !important;
      font-family: Azaret Mono; }
    header.encabezado nav.navbar div.container-fluid {
      height: auto;
      background-color: black !important;
      z-index: 1000; }
      header.encabezado nav.navbar div.container-fluid a.navbar-brand {
        color: whitesmoke !important;
        font-size: 60px !important; }
      header.encabezado nav.navbar div.container-fluid button.navbar-toggler {
        color: antiquewhite !important;
        background-color: antiquewhite; }
        header.encabezado nav.navbar div.container-fluid button.navbar-toggler span.navbar-toggler-icon {
          color: antiquewhite !important; }
      header.encabezado nav.navbar div.container-fluid div.collapse .navbar-colapse div.navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-end !important; }
        header.encabezado nav.navbar div.container-fluid div.collapse .navbar-colapse div.navbar-nav a.nav-link {
          color: whitesmoke !important;
          font-size: 18px !important;
          background-color: black;
          padding-left: 15px !important; }

/*!----INDEX------*/
div.grid-container-home {
  background-image: url(../Img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: auto auto 35%;
  grid-template-rows: auto auto 150px;
  grid-template-areas: "header header header" "main main aside" "footer footer footer"; }
  div.grid-container-home header.encabezado {
    grid-area: header; }
  div.grid-container-home main.home {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 15px; }
    div.grid-container-home main.home section.carrusel-home {
      height: 50%;
      width: 70%;
      margin: 15px; }
      div.grid-container-home main.home section.carrusel-home div#carouselExampleCaptions div.carousel-inner {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        border-color: #050225;
        border: solid 3px; }
        div.grid-container-home main.home section.carrusel-home div#carouselExampleCaptions div.carousel-inner div.carousel-item .active img.d-block .w-100 .prueba-img-carrusel {
          height: 100%;
          width: 100%; }
    div.grid-container-home main.home section.soundcloud {
      margin: 15px; }
      div.grid-container-home main.home section.soundcloud iframe {
        height: 250px;
        width: 450px;
        margin: 15px; }
  div.grid-container-home aside.aside-index {
    background: rgba(0, 0, 0, 0.6);
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center; }
    div.grid-container-home aside.aside-index div.propaganda-aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
      margin: 30px; }
      div.grid-container-home aside.aside-index div.propaganda-aside div.card {
        background-color: #141414;
        border-radius: 8px;
        border-color: #050225;
        border: solid 3px;
        width: 75%;
        width: 294px;
        height: 398px; }
        div.grid-container-home aside.aside-index div.propaganda-aside div.card div.home-card {
          color: antiquewhite; }
          div.grid-container-home aside.aside-index div.propaganda-aside div.card div.home-card p {
            font-size: 13px; }
  div.grid-container-home footer.pie {
    grid-area: footer; }

/*!----DATES------*/
/*!----MULTIMEDIA------*/
/*!----CULTURE------*/
div.grid-container-culture {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 150px;
  grid-template-areas: "header" "main" "footer"; }
  div.grid-container-culture header.encabezado {
    grid-area: header; }
  div.grid-container-culture main.mainculture {
    grid-area: main;
    background-image: url(../Img/fondo.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0%;
    display: flex;
    flex-direction: column; }
    div.grid-container-culture main.mainculture section.fondoculture {
      color: whitesmoke;
      background: rgba(0, 0, 0, 0.8);
      text-align: center;
      margin-bottom: 20px;
      padding: 10px; }
      div.grid-container-culture main.mainculture section.fondoculture h2 {
        font-size: 25px; }
    div.grid-container-culture main.mainculture article.cultureartist {
      background: rgba(0, 0, 0, 0.6);
      height: auto;
      margin-bottom: 20px;
      padding: auto;
      color: white;
      display: flex;
      flex-direction: row; }
      div.grid-container-culture main.mainculture article.cultureartist div.artist {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-right: 15px; }
        div.grid-container-culture main.mainculture article.cultureartist div.artist h2 {
          text-align: center;
          padding-top: 20px;
          text-decoration: underline;
          font-size: 30px; }
        div.grid-container-culture main.mainculture article.cultureartist div.artist p {
          margin: 10px;
          padding: 15px;
          font-size: 15px;
          text-align: justify; }
      div.grid-container-culture main.mainculture article.cultureartist aside {
        width: auto;
        background: rgba(0, 0, 0, 0.6);
        padding: 35px;
        display: flex;
        flex-direction: column; }
        div.grid-container-culture main.mainculture article.cultureartist aside img {
          border: solid 3px #5a5151;
          height: 220px;
          width: 300px;
          margin-bottom: 30px; }
        div.grid-container-culture main.mainculture article.cultureartist aside iframe {
          width: 300px;
          height: 200px; }
    div.grid-container-culture main.mainculture section.aside-culture {
      grid-area: aside-culture;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      justify-items: center;
      flex-wrap: wrap;
      height: auto; }
      div.grid-container-culture main.mainculture section.aside-culture div.card {
        margin: 25px;
        text-align: center; }
        div.grid-container-culture main.mainculture section.aside-culture div.card img.card-img-top {
          width: 100%;
          height: 150px; }
        div.grid-container-culture main.mainculture section.aside-culture div.card div.card-body h5 {
          text-decoration: underline;
          font-weight: bold; }
        div.grid-container-culture main.mainculture section.aside-culture div.card div.card-body a.card-link {
          font-weight: bold;
          text-decoration: none; }
    div.grid-container-culture main.mainculture footer.pie {
      grid-area: footer; }

/*!----MERCHANDISING------*/
/*!----NOSOTROS------*/
div .grid-container-contacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 150px;
  grid-template-areas: "header" "main" "footer"; }
  div .grid-container-contacto header .encabezado {
    grid-area: header; }
  div .grid-container-contacto main .main-contacto {
    grid-area: main;
    background-image: url(../Img/fondo.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    margin: 0%; }
    div .grid-container-contacto main .main-contacto div .vision {
      display: flex;
      justify-content: center;
      height: 100px;
      background-color: rgba(0, 0, 0, 0.9);
      align-items: center;
      color: whitesmoke; }
      div .grid-container-contacto main .main-contacto div .vision h2 {
        font-size: 30px; }
    div .grid-container-contacto main .main-contacto section.nosotros {
      background: rgba(0, 0, 0, 0.6);
      border: 3px solid #6e6e6c;
      color: whitesmoke;
      margin-bottom: 25px;
      padding-top: 15px;
      display: flex;
      flex-direction: row;
      font-size: 18px;
      padding: 10px;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; }
      div .grid-container-contacto main .main-contacto section.nosotros p {
        margin: 5px;
        padding-right: 10px;
        text-align: justify; }
      div .grid-container-contacto main .main-contacto section.nosotros img {
        width: 530px;
        height: 340px;
        border: solid 2.5px #5a5151;
        text-align: justify;
        margin: 10px; }
    div .grid-container-contacto main .main-contacto div.escuela {
      background-color: rgba(0, 0, 0, 0.6); }
      div .grid-container-contacto main .main-contacto div.escuela div.clases {
        display: flex;
        justify-content: center;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.8);
        align-items: center;
        color: whitesmoke; }
        div .grid-container-contacto main .main-contacto div.escuela div.clases h2 {
          font-size: 30px; }
      div .grid-container-contacto main .main-contacto div.escuela section.academia {
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.7); }
        div .grid-container-contacto main .main-contacto div.escuela section.academia div.curso {
          background-image: url(../Img/fases-produccion-musical.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 10px;
          border: 3px solid #6e6e6c; }
          div .grid-container-contacto main .main-contacto div.escuela section.academia div.curso h3 {
            text-align: center;
            font-size: 26px;
            text-shadow: -1px -1px 0 #f8f6f6, 1px -1px 0 #f8f6f6, -1px 1px 0 #f8f6f6, 1px 1px 0 #f8f6f6; }
          div .grid-container-contacto main .main-contacto div.escuela section.academia div.curso p {
            padding: 10px;
            font-size: 18px;
            color: whitesmoke;
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; }
          div .grid-container-contacto main .main-contacto div.escuela section.academia div.curso a {
            text-decoration: none;
            background-color: black;
            color: #cf4cb9;
            margin-left: 10px; }
        div .grid-container-contacto main .main-contacto div.escuela section.academia div.curso-dos {
          background-image: url(../Img/curso-dj.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          font-size: 18px;
          padding: 10px;
          border: 3px solid #6e6e6c;
          border-left: none; }
          div .grid-container-contacto main .main-contacto div.escuela section.academia div.curso-dos h3 {
            text-align: center;
            font-size: 26px;
            text-shadow: -1px -1px 0 #f8f6f6, 1px -1px 0 #f8f6f6, -1px 1px 0 #f8f6f6, 1px 1px 0 #f8f6f6; }
          div .grid-container-contacto main .main-contacto div.escuela section.academia div.curso-dos p {
            padding: 10px;
            font-size: 18px;
            color: whitesmoke;
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; }
          div .grid-container-contacto main .main-contacto div.escuela section.academia div.curso-dos a {
            text-decoration: none;
            background-color: black;
            color: #cf4cb9;
            margin-left: 10px; }
      div .grid-container-contacto main .main-contacto div.escuela div.contacto {
        background: rgba(0, 0, 0, 0.6);
        color: whitesmoke; }
        div .grid-container-contacto main .main-contacto div.escuela div.contacto div.equipo {
          background-color: rgba(0, 0, 0, 0.8);
          padding-top: 15px;
          padding-bottom: 15px;
          text-align: center;
          border: 3px solid #6e6e6c;
          border-top: none; }
          div .grid-container-contacto main .main-contacto div.escuela div.contacto div.equipo h2 {
            font-size: 25px; }
        div .grid-container-contacto main .main-contacto div.escuela div.contacto div.msj {
          padding-top: 15px;
          padding-bottom: 30px;
          padding-left: 30px;
          display: flex;
          flex-direction: column; }
          div .grid-container-contacto main .main-contacto div.escuela div.contacto div.msj div.nombre-completo {
            display: flex;
            flex-direction: column;
            align-items: baseline; }
          div .grid-container-contacto main .main-contacto div.escuela div.contacto div.msj div.e-mail {
            display: flex;
            flex-direction: column;
            align-items: baseline; }
          div .grid-container-contacto main .main-contacto div.escuela div.contacto div.msj div.texto {
            display: flex;
            flex-direction: column;
            align-items: baseline; }
  div .grid-container-contacto footer.pie {
    grid-area: footer; }

/*----FOOTER------*/
footer {
  width: 100%;
  height: 150px;
  background-color: #91d1b7;
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between; }
  footer div.infofooter {
    color: black;
    font-size: 15px; }
    footer div.infofooter p {
      margin: 5px; }
  footer div.redes {
    display: flex;
    align-items: flex-end;
    padding-right: 10px;
    margin: 10px; }
    footer div.redes img {
      width: 28px;
      height: 22px;
      margin-bottom: 8px;
      margin: 10px; }

@media screen and (max-width: 610px) {
  .grid-container-home {
    grid-template-columns: auto auto 35%;
    grid-template-rows: auto auto auto; }
  .infofooter p {
    margin: 4px; }
  footer {
    height: auto;
    padding: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; } }

@media screen and (max-width: 920px) {
  div.grid-container-home {
    grid-template-columns: auto auto;
    grid-template-rows: 100px auto auto 150px;
    grid-template-areas: "header header" "main main" "aside aside" "footer footer"; }
  main.home {
    flex-direction: row;
    margin: 10px;
    padding: 15px; }
  main.home section.carrusel-home {
    height: auto;
    width: auto;
    margin: 15px; }
  main.home section.soundcloud iframe {
    height: 200px;
    width: 340px; }
  aside.aside-index {
    flex-direction: row;
    padding-top: 15px; } }

@media screen and (max-width: 860px) {
  div.grid-container-home {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "main main" "aside aside" "footer footer"; }
  main.home {
    flex-direction: column;
    width: auto; }
  main.home section.carrusel-home img {
    height: 300px;
    width: 650px; }
  aside.aside-index {
    flex-wrap: wrap;
    width: auto; } }

@media screen and (max-width: 565px) {
  main.home section.carrusel-home img {
    height: auto;
    width: auto; }
  div.grid-container-home main.home section.soundcloud iframe {
    height: auto;
    width: auto; } }

@media screen and (max-width: 979px) {
  div.grid-container-culture main.mainculture article.cultureartist {
    flex-direction: column; }
  div.grid-container-culture main.mainculture article.cultureartist aside {
    width: 100%;
    flex-direction: row;
    justify-content: space-around; }
  div.grid-container-culture main.mainculture article.cultureartist div.artist {
    width: 100%; } }

@media screen and (max-width: 750px) {
  div.grid-container-culture main.mainculture section.fondoculture h2 {
    font-size: 20px; }
  div.grid-container-culture main.mainculture section.fondoculture p {
    font-size: 18px; }
  div.grid-container-culture main.mainculture article.cultureartist aside {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  div.grid-container-culture main.mainculture article.cultureartist div.artist h2 {
    font-size: 25px; }
  div.grid-container-culture main.mainculture article.cultureartist div.artist p {
    font-size: 18px; } }

@media screen and (max-width: 600px) {
  div.grid-container-culture {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer"; } }
