/*La fuente, el reset, las clases y cosas que yo genere para pisar boodstrap*/
// comenta asi
/*----RESET------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,600&display=swap');

body {
    font-family: Azeret Mono;
    color: black;
    width: 100%;


}

//VARIABLES

$font-size-small: 14px;
$font-size-medium: 8px;
$font-size-large: 24px;
$font-size-xlarge: 26px;
$font-size-xxlarge: 30px;

//*LISTAS

$colors: rgb(255, 255, 255), rgb(240, 240, 240);





