
@media screen and (max-width:490px){
    body{       
        h1{
            font-size: 26px !important;
        }
        h2{
            font-size: 24px !important;
        }
        h3{
            font-size: 22px !important;
        }
        p{
            font-size: 16px !important;
        }    
    }
}

@media screen and (max-width:350px){
    body{
        
            h1{
                font-size: 24px !important;
            }
            h2{
                font-size: 22px !important;
            }
            h3{
                font-size: 20px !important;
            }
            p{
                font-size: 14px !important;
            }
        
        }
    }


//footer

@media screen and (max-width:610px) {
        footer.pie{
            grid-area: footer;
            height: auto;
            padding: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            div.infofooter{
                margin: 4px;
            }
        }
}

//INDEX//
@media screen and (max-width:920px) {
    div.grid-container-home {
        grid-template-columns: auto auto;
        grid-template-rows: 100px auto auto 150px;
        grid-template-areas:
            "header header"
            "main main"
            "aside aside"
            "footer footer";
            main.home {
                flex-direction: row;
                margin: 10px;
                padding: 15px;
                section.carrusel-home {
                    height: auto;
                    width: auto;
                    margin: 15px;
                }
                section.soundcloud{
                    iframe{
                        height: 200px;
                        width: 340px;
                    }
                }
            }
    }
            aside.aside-index {
                flex-direction: row !important;
                padding-top: 15px;
                div.propaganda-aside{
                    div.card{
                        width: 288px !important;
                        height: 370px !important;
                        p{
                            font-size: 13px !important;
                        }
                        img{
                            width: 280px !important;
                            height:181px !important;
                        }
                        
                    }
                }
            }
}


@media screen and (max-width:860px) {
    div.grid-container-home {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header header"
            "main main"
            "aside aside"
            "footer footer";
            main.home {
                flex-direction: column;
                width: auto;
                section.carrusel-come{
                    img{
                        height: 300px;
                        width: 650px;
                    }
                }
            }
    }
            aside.aside-index {
                flex-wrap: wrap;
                width: auto;
            }
}

@media screen and (max-width:610px) {
    div.grid-container-home {
        grid-template-columns: auto;
        grid-template-rows: auto;

    }
}    
@media screen and (max-width:565px) {
    div.grid-container-home{      
        main.home{
            padding: 0px;
            margin: 0px;
            section.carrusel-home{
                img{
                    height: auto;
                    width: auto;
                }
            }
            section.soundcloud{
                margin: 5px;
                iframe{
                    height: auto;
                    width: auto;
                    margin: 5px;

                }
            }
        }
        aside.aside-index{
            margin:0px;
            padding: 0px;
            div.propaganda-aside{
                margin: 5px;
            }
        }
    }
    
}
//DATES//

@media screen and (max-width:920px) {
    div.grid-container-dates{
        main.maindates{
            section.date{
                flex-direction: column;
                div.info-date{
                    width: 100%;
                    text-align: justify;
                }
                aside{
                    align-items: center;
                    button.btn{
                        width: 400px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:720px){
    div.grid-container-dates {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        main.maindates{
            section.date{
                div.info-date{
                    iframe{
                        width: 200px;
                        height: 100px;
                    }
                }
                aside{
                    img.img-fluid .artista{
                        height: 200px;
                        width: 350px;
                    }
                    button.btn{
                        width: 300px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:375px){
    div.grid-container-dates {
        main.maindates{
            section.date{
                div.info-date{
                    iframe{
                        display: none;
                    }
                }
                aside{
                    button.btn{
                        width: 150px !important;
                    }
                }
            }
        }
    }
}
//MULTIMEDIA//

@media screen and (max-width:800px){
    div.grid-container-multi{
        main.main-multi{
            section.multimedia{
                aside{
                    flex-direction: column;
                    align-items: center;
                    div.card{
                        margin: 20px !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:612px){
    div.grid-container-multi{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

@media screen and (max-width:435px){
    div.grid-container-multi{
        main.main-multi{
            section.multimedia{
                aside{
                    padding:10px;
                    div.card{
                        margin: 10px !important;

                        img.img-multi{
                            border: solid 1.5px rgb(19, 18, 18);
                            height: 135px !important;
                            width: 270px !important;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

//CULTURE//


@media screen and (max-width:979px) {
    div.grid-container-culture{
        main.mainculture{
            article.cultureartist{
                flex-direction: column;
                div.artist{
                    width: 100%;
                }
                aside{
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }
    }
}

@media screen and (max-width:750px){
    div.grid-container-culture{
        main.mainculture{
            section.fondoculture{
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 18px;
                }
            }
            article.cultureartist{
                aside{
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width:600px){
    div.grid-container-culture{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        
        main.mainculture{
            article.cultureartist{
                div.artist{
                    padding: 5px;
                }
                aside{
                    padding: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:350px){
    div.grid-container-culture {       
        main.mainculture{
            article.cultureartist{
                aside{
                    padding: 10px;
                    padding-left: 0px;
                    padding-right: 0px;
                    img.artista{
                        width: 240px;
                        height: 170px;
                    }

                }
            }
            section.aside-culture{
                display: none;
            }
        }
    }
}
//MERCHANDISING//
@media screen and (max-width:950px){
    div.grid-container-merch {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        main.maindates{
            section.merch{
                section.merch-oficial{
                    div.container-product{
                        flex-wrap: wrap;

                    }
                }
            }
        }
    }
}

@media screen and (max-width:420px){
    div.grid-container-merch {
        main.maindates{
            section.merch{
                section.merch-oficial{
                    div.container-product{
                        div.card{
                            margin: 10px !important;
                            width: 250px !important;
                        }

                    }
                }
            }
        }
    }
}

//NOSOTROS//

@media screen and (max-width:1020px){
    div.grid-container-contacto{
        main.main-contacto{
            section.nosotros{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width:820px){
    div.grid-container-contacto{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        main.main-contacto{
            div.escuela{
                section.academia{
                    flex-direction: column;
                    align-items: center;
                }
                div.contacto{
                    div.msj{
                        textarea{
                            width: 450px;
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:630px){
    div.grid-container-contacto{
        main.main-contacto{
            section.nosotros{
                img{
                    width: 420px;
                    height: 280px;
                }
            }
            div.escuela{
                div.contacto{
                    div.msj{
                        textarea{
                            width: 360px;
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:550px){
    div.grid-container-contacto{
        main.main-contacto{
            section.nosotros{
                img{
                    width: 380px;
                    height: 240px;
                }
            }
        }
    }
}


@media screen and (max-width:430px){
    div.grid-container-contacto{
        main.main-contacto{
            section.nosotros{
                img{
                    width: 250px;
                    height: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:410px){
    div.grid-container-contacto{
        main.main-contacto{
            div.escuela{
                div.contacto{
                    div.msj{
                        textarea{
                            width: 270px;
                            height: 135px;
                        }
                    }
                }
            }
        }
    }
}



