h1{
    font-size: $font-size-xxlarge !important;
    color: nth($colors, 1 );
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
h2{
    font-size: $font-size-xlarge !important;
    color: nth($colors, 2 );
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
h3{
    font-size: $font-size-large !important;
    color: nth($colors, 2 ) !important;
}


/*!----INDEX------*/




div.grid-container-home {
    background-image: url(../Img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: auto auto 35%;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header header header"
        "main main aside"
        "footer footer footer";

    header.encabezado {
        grid-area: header;
    }

    main.home {
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        padding: 15px;

        section.carrusel-home {
            height: 50%;
            width: 70%;
            margin: 15px;

            div#carouselExampleCaptions {
                div.carousel-inner {
                    height: 100%;
                    width: 100%;
                    border-radius: 8px;
                    border-color: rgb(5, 2, 37);
                    border: solid 3px;
                    div.carousel-item .active{
                        
                        img.d-block .w-100 .prueba-img-carrusel{
                            height: 100%;
                            width: 100%;

                        }
                    }
                }


            }
        }

        section.soundcloud {
            margin: 15px;

            iframe {
                height: 250px;
                width: 450px;
                margin: 15px;
            }

        }

    }

    aside.aside-index {
        background: rgba(0, 0, 0, 0.6);
        grid-area: aside;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: center;

        div.propaganda-aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            justify-content: center;
            margin: 30px;
            
            div.card {
                background-color: rgb(20, 20, 20);
                border-radius: 8px;
                border-color: rgb(5, 2, 37);
                border: solid 3px;
                width: auto;
                width: auto;
                height: auto;

                div.home-card {
                    color: antiquewhite;
                    h5{
                        text-align: center !important;
                    }
                    p{
                        text-align: left !important;
                        font-size: 13px;
                    }
                }

            }
        }

    }

    footer.pie {
        grid-area: footer;
    }
}


/*!----DATES------*/

div.grid-container-dates{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    header.encabezado{
        grid-area: header;
    }
    main.maindates{
        grid-area: main;
        grid-area: main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0%;
        display: flex;
        flex-direction: column;

        section.fondodates{
            color: whitesmoke;
            background: rgba(0, 0, 0, 0.8);
            text-align: center;
            margin-bottom: 20px;
            padding: 10px;

        }

        section.date{
            background: rgba(0, 0, 0, 0.8);
            height: auto;
            margin-bottom: 20px;
            padding: auto;
            color: white;
            display: flex;
            flex-direction: row;

            div.info-date{
                display: flex;
                flex-direction: column;
                width: 70%;
                padding: 15px;
                align-items: center;

                h2{
                    text-align: center;
                    padding-top: 20px;
                    text-decoration: underline;
                    font-size: 30px;
                }
                h3{
                    margin: 5px;
                    padding: 10px;
                    font-size: 25px;
                }
                p{
                    margin: 10px;
                    padding: 10px;                  
                    text-align: justify;
                    text-shadow:
                    -1px -1px 0 black,
                    1px -1px 0 black,
                    -1px 1px 0 black,
                    1px 1px 0 black;
                }
                iframe{
                    margin: 15px;
                    border-radius: 8px;
                }
            }
            aside{
                width: auto;
                background: rgba(0, 0, 0, 0.6);
                padding: 35px;
                display: flex;
                flex-direction: column;
                img{
                    border: solid 3px rgb(90, 81, 81);
                    height: 300px;
                    width: 450px;
                    margin-bottom: 30px;
                }
                button{
                    background-color: aliceblue;
                }
                button:hover{
                    background-color: blueviolet;
                    border-radius: 5px;
                }
                button:active{
                    background-color: rgb(110, 226, 43);
                    border-radius: 5px;
                }
                button:focus{
                    outline: none;
                    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
                }
                button:disabled{
                    background-color: #6c757d;
                    cursor: not-allowed;
                }
            }
        }
    }
    footer.pie{
        grid-area: footer;
    }
}


/*!----MULTIMEDIA------*/

div.grid-container-multi{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";

    header.encabezado{
        grid-area: header;
    }
    main.main-multi{
        grid-area: main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0%;
        display: flex;
        flex-direction: column;
        section.fondomulti{
            color: whitesmoke;
            background: rgba(0, 0, 0, 0.8);
            text-align: center;
            margin-bottom: 20px;
            padding: 10px;
            h1{
                font-size: 25px;
            }
        }
        section.multimedia{
            background: rgba(0, 0, 0, 0.5);
            height: auto;
            margin-bottom: 20px;
            padding: auto;
            color: white;
            display: flex;
            flex-direction: column;
            div.foto-set{
                display: flex;
                flex-direction: column;
                padding-right: 15px;
                align-items: center;
                background: rgba(0, 0, 0, 0.8);
                h2{
                    text-align: center;
                    padding-top: 20px;
                    margin: 5px;
                    text-decoration: underline;
                    font-size: 30px;
                }
                h3{
                    margin: 5px;
                    padding: 10px;
                    font-size: 25px;
                }
            }
            aside{
                width: auto;
                background: rgba(0, 0, 0, 0.6);
                padding: 35px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                div.card{
                    transition: 2s;

                    img.img-multi{
                        border: solid 1.5px rgb(19, 18, 18);
                        height: 135px !important;
                        width: 270px !important;
                        margin-bottom: 30px;
                    }
                    div.card-body{
                        h5{
                            text-align: center !important;
                        }
                        p{
                            text-align: center !important;
                        }
                        a{
                            align-items: center !important;
                            width: 100% !important;
                        }                     
                    }
                }
                div.card:hover{
                    transform: scale(1.2);

                }
                
            }
        }
    }
    footer.pie{
        grid-area:footer;
    }
}


/*!----CULTURE------*/

div.grid-container-culture {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";

    header.encabezado {
        grid-area: header;
    }

    main.mainculture {
        grid-area: main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0%;
        display: flex;
        flex-direction: column;


        section.fondoculture {
            color: whitesmoke;
            background: rgba(0, 0, 0, 0.8);
            text-align: center;
            margin-bottom: 20px;
            padding: 10px;

            h1 {
                font-size: 25px;
            }
        }

        article.cultureartist {
            background: rgba(0, 0, 0, 0.8);
            height: auto;
            margin-bottom: 20px;
            padding: auto;
            color: white;
            display: flex;
            flex-direction: row;

            

            div.artist {
                display: flex;
                flex-direction: column;
                width: auto;
                padding-right: 15px;

                h2 {
                    text-align: center;
                    padding-top: 20px;
                    text-decoration: underline;
                    font-size: 30px;
                }

                p {
                    margin: 10px;
                    padding: 15px;
                    text-align: justify;
                    text-shadow:
                    -1px -1px 0 black,
                    1px -1px 0 black,
                    -1px 1px 0 black,
                    1px 1px 0 black;
                }
            }

            aside {
                width: auto;
                background: rgba(0, 0, 0, 0.6);
                padding: 35px;
                display: flex;
                flex-direction: column;

                img {
                    transition: 2s;
                    border: solid 3px rgb(90, 81, 81);
                    height: 220px;
                    width: 300px;
                    margin-bottom: 30px;
                }
                img:hover{
                    transform: scale(1.15);
                }

                iframe {
                    width: 300px;
                    height: 200px;
                }
            }


        }
        section.aside-culture {
            grid-area: aside-culture;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            justify-items: center;
            flex-wrap: wrap;
            height: auto;

            div.card {
                margin: 25px;
                text-align: center;
                

                img.card-img-top {
                    width: 100%;
                    height: 150px;
                }

                div.card-body {
                    h5 {
                        text-decoration: underline;
                        font-weight: bold
                    }

                    a.card-link {
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }

        footer.pie {
            grid-area: footer;
        }
    }
}

/*!----MERCHANDISING------*/

div.grid-container-merch{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    header.encabezado{
        grid-area:header;
    }
    main.maindates{
        grid-area:main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0%;
        display: flex;
        flex-direction: column;
        div.catalogo{
            color: whitesmoke;
            background: rgba(0, 0, 0, 0.815);
            text-align: center;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            h1{
                font-size: 30px;
            }
        }
        section.merch{
            text-align: center;
            border: solid 3px rgb(90, 81, 81);
            background-color: rgba(0, 0, 0, 0.9);
            section.merch-oficial{
                display: flex;
                flex-direction: column;
                div.producto{
                    text-align: center;
                    padding: 10px;
                    border: solid 3px rgb(90, 81, 81);
                    background-color: rgba(0, 0, 0, 0.438);
                    h2{
                        color: whitesmoke;
                        font-size: 25px;
                    }
                }
                div.container-product{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    div.card{
                        margin: 20px !important;
                        padding: 10px !important;
                        img{
                            transition:1.7s;
                        }
                        img:hover{
                            transform: scale(1.5);
                        }
                        div.card-body{
                            align-items: center !important;
                            h5.card-title{
                                text-decoration: underline;
                            }
                            p.card-text{
                                font-size: 13px;
                            }
                        }
                        ul.list-group .list-group-flush{
                            li.list-group-item{
                                padding: 5px !important;
                                font-size: 14px;
                            }
                            
                        }
                    }
                }

            }
        }
    }
    footer.pie{
        grid-area: footer;
    }
}


/*!----NOSOTROS------*/

div.grid-container-contacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";

    header.encabezado {
        grid-area: header;
    }

    main.main-contacto {
        grid-area: main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        margin: 0%;

        div.vision {
            display: flex;
            justify-content: center;
            height: 100px;
            background-color: rgba(0, 0, 0, 0.9);
            align-items: center;
            color: whitesmoke;

            h1 {
                font-size: 30px;
            }
        }

        section.nosotros {
            background: rgba(0, 0, 0, 0.8);
            border: 3px solid rgb(110, 110, 108);
            color: whitesmoke;
            margin-bottom: 25px;
            padding-top: 15px;
            display: flex;
            flex-direction: row;
            font-size: 18px;
            padding: 10px;
            text-shadow:
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;

            p {
                margin: 5px;
                padding-right: 10px;
                text-align: justify;
            }

            img {
                width: 530px;
                height: 340px;
                border: solid 2.5px rgb(90, 81, 81);
                text-align: justify;
                margin: 10px;
            }
        }

        div.escuela {
            background-color: rgba(0, 0, 0, 0.6);

            div.clases {
                display: flex;
                justify-content: center;
                height: 100px;
                background-color: rgba(0, 0, 0, 0.8);
                align-items: center;
                color: whitesmoke;

                h2 {
                    font-size: 30px;
                }
            }

            section.academia {
                display: flex;
                flex-direction: row;
                background-color: rgba(0, 0, 0, 0.7);

                div.curso {
                    background-image: url(../Img/fases-produccion-musical.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;                   
                    border: 3px solid rgb(110, 110, 108);
                    
                    div.capa-transparencia{
                        background-color: rgba(0, 0, 0, 0.6);

                        h3 {
                            text-align: center;
                            font-size: 26px;
                            padding: 10px;

                        }
    
                        p {
                            text-align: justify;
                            padding: 10px;
                            font-size: 16px;
                            color: whitesmoke;
                            text-shadow:
                                -1px -1px 0 black,
                                1px -1px 0 black,
                                -1px 1px 0 black,
                                1px 1px 0 black;
                        }
    
                        a {
                            text-decoration: none;
                            background-color: black;
                            color: rgb(207, 76, 185);
                            margin-left: 10px;
                        }

                    }


                }

                div.curso-dos {
                    background-image: url(../Img/curso-dj.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    font-size: 18px;
                    border: 3px solid rgb(110, 110, 108);
                    border-left: none;
                    div.capa-transparencia{
                        background-color: rgba(0, 0, 0, 0.6);
                        h3 {
                            text-align: center;
                            font-size: 26px;
                            padding: 10px;
                        }
    
                        p {
                            text-align: justify;
                            padding: 10px;
                            font-size: 16px;
                            color: whitesmoke;
                            text-shadow:
                                -1px -1px 0 black,
                                1px -1px 0 black,
                                -1px 1px 0 black,
                                1px 1px 0 black;
                        }
    
                        a {
                            text-decoration: none;
                            background-color: black;
                            color: rgb(207, 76, 185);
                            margin-left: 10px;
                        }

                    }


                }
            }

            div.contacto {
                background: rgba(0, 0, 0, 0.6);
                color: whitesmoke;

                div.equipo {
                    background-color: rgba(0, 0, 0, 0.8);
                    padding-top: 15px;
                    padding-bottom: 15px;
                    text-align: center;
                    border: 3px solid rgb(110, 110, 108);
                    border-top: none;

                    h2 {
                        font-size: 25px;
                    }
                }

                div.msj {
                    padding-top: 15px;
                    padding-bottom: 30px;
                    padding-left: 30px;
                    display: flex;
                    flex-direction: column;

                    div.nombre-completo {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                    }

                    div.e-mail {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                    }

                    div.texto {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                    }
                }
            }
        }
    }

    footer.pie {
        grid-area: footer;
    }
}