h1{
    font-size: $font-size-xxlarge !important;
    color: nth($colors, 1 );
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
h2{
    font-size: $font-size-xlarge !important;
    color: nth($colors, 2 );
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
h3{
    font-size: $font-size-large !important;
    color: nth($colors, 2 ) !important;
}
section.description-page{
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    padding: 10px;
    @include flex (flex, center, center);


}

/*!----INDEX------*/




div.grid-container-home {
    background-image: url(../Img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: auto auto 35%;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header header header"
        "main main aside"
        "footer footer footer";

    header.encabezado {
        grid-area: header;
    }

    main.home {
        @include flex (flex, center, center);
        grid-area: main;
        flex-direction: column;
        padding: 15px;

        section.carrusel-home {
            height: 50%;
            width: 70%;
            margin: 15px;

            div#carouselExampleCaptions {
                div.carousel-inner {
                    height: 100%;
                    width: 100%;
                    border-radius: 8px;
                    border-color: rgb(5, 2, 37);
                    border: solid 3px;
                    h5{
                        text-shadow: 
                            -1px -1px 0px black, 
                            1px -1px 0px black,
                            -1px 1px 0px black, 
                            1px 1px 0px black;
                    }
                    p{
                        text-shadow: 
                            -1px -1px 0px black, 
                            1px -1px 0px black,
                            -1px 1px 0px black, 
                            1px 1px 0px black;
                    }
                    div.carousel-item .active{
                        
                        img.d-block .w-100 .prueba-img-carrusel{
                            height: 100%;
                            width: 100%;

                        }
                    }
                }


            }
        }

        section.soundcloud {
            margin: 15px;

            iframe {
                height: 250px;
                width: 450px;
                margin: 15px;
            }

        }

    }

    aside.aside-index {
        background: rgba(0, 0, 0, 0.6);
        grid-area: aside;
        @include flex (flex, center, center);
        flex-direction: column;

        div.propaganda-aside {
            @include flex (flex, center, center);
            flex-direction: column;
            margin: 30px;
            
            div.card {
                background-color: rgb(20, 20, 20);
                border-radius: 8px;
                border-color: rgb(5, 2, 37);
                border: solid 3px;
                width: auto;
                width: auto;
                height: auto;

                div.home-card {
                    color: antiquewhite;
                    h5{
                        text-align: center !important;
                    }
                    p{
                        text-align: left !important;
                        font-size: 13px;
                    }
                }

            }
        }

    }

    footer.pie {
        grid-area: footer;
    }
}


/*!----DATES------*/

div.grid-container-dates{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    header.encabezado{
        grid-area: header;
    }
    main.maindates{
        grid-area: main;
        grid-area: main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0%;
        display: flex;
        flex-direction: column;

        h1{
            @extend %centered-box;

        }

        section.date{
            background: rgba(0, 0, 0, 0.8);
            height: auto;
            margin-bottom: 20px;
            padding: auto;
            color: white;
            display: flex;
            flex-direction: row;

            div.info-date{
                display: flex;
                flex-direction: column;
                width: 70%;
                padding: 15px;
                align-items: center;

                h2{
                    text-align: center;
                    padding-top: 20px;
                    text-decoration: underline;
                    font-size: 30px;
                }
                h3{
                    margin: 5px;
                    padding: 10px;
                    font-size: 25px;
                }
                p{
                    margin: 10px;
                    padding: 10px;                  
                    text-align: justify;
                    text-shadow:
                    -1px -1px 0 black,
                    1px -1px 0 black,
                    -1px 1px 0 black,
                    1px 1px 0 black;
                }
                iframe{
                    margin: 15px;
                    border-radius: 8px;
                }
            }
            aside{
                width: auto;
                background: rgba(0, 0, 0, 0.6);
                padding: 35px;
                display: flex;
                flex-direction: column;
                
                img{
                    border: solid 1.5px #bb2c2c;
                    height: 300px;
                    width: 450px;
                    margin-bottom: 30px;
                }
                a.btn-primary{
                    @include btn-styles(#bb2c2c, rgb(163, 4, 4), rgb(255, 0, 0));
                    --bs-btn-border-color: none;
                }
            }
        }
    }
    footer.pie{
        grid-area: footer;
    }
}


/*!----MULTIMEDIA------*/

div.grid-container-multi{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";

    header.encabezado{
        grid-area: header;
    }
    main.main-multi{
        grid-area: main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0%;
        display: flex;
        flex-direction: column;
        h1{
            @extend %centered-box;

        }
        section.multimedia{
            background: rgba(0, 0, 0, 0.5);
            height: auto;
            margin-bottom: 20px;
            padding: auto;
            color: white;
            display: flex;
            flex-direction: column;
            div.foto-set{
                display: flex;
                flex-direction: column;
                padding-right: 15px;
                align-items: center;
                background: rgba(0, 0, 0, 0.8);
                h2{
                    text-align: center;
                    padding-top: 20px;
                    margin: 5px;
                    text-decoration: underline;
                    font-size: 30px;
                }
                h3{
                    margin: 5px;
                    padding: 10px;
                    font-size: 25px;
                }
            }
            aside{
                width: auto;
                background: rgba(0, 0, 0, 0.6);
                padding: 35px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                div.card{
                    @extend %transition-hover-scale-otros;
                    background-color: rgb(209, 209, 209);
                    box-shadow: 9px 0px 30px 3px rgba(107,0,0,0.67);
                    -webkit-box-shadow: 9px 0px 30px 3px rgba(107,0,0,0.67);
                    -moz-box-shadow: 9px 0px 30px 3px rgba(107,0,0,0.67);
                    img.img-multi{
                        border: solid 1.5px rgb(19, 18, 18);
                        height: 135px !important;
                        width: 270px !important;
                        margin-bottom: 30px;
                    }
                    div.card-body{
                        @include flex (flex, center, center);
                        flex-direction: column;
                        h5{
                            text-align: center !important;
                        }
                        p{
                            text-align: center !important;
                        }
                        a.btn-primary{
                            @include btn-styles(#bb2c2c, rgb(163, 4, 4), rgb(255, 0, 0));
                            --bs-btn-border-color: none;
                            }
                    }
                }
                
            }
        }
    }
    footer.pie{
        grid-area:footer;
    }
}


/*!----CULTURE------*/

div.grid-container-culture {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";

    header.encabezado {
        grid-area: header;
    }

    main.mainculture {
        grid-area: main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0%;
        display: flex;
        flex-direction: column;

        section.description-page{
            background: rgba(0, 0, 0, 0.8);
            margin-bottom: 20px;
            padding: 10px;
            @include flex (flex, center, center);
            h1{
                @extend %centered-box;   
            }
        }
        article.cultureartist {
            background: rgba(0, 0, 0, 0.8);
            height: auto;
            margin-bottom: 20px;
            padding: auto;
            color: white;
            display: flex;
            flex-direction: row;

            

            div.artist {
                display: flex;
                flex-direction: column;
                width: auto;
                padding-right: 15px;

                h2 {
                    text-align: center;
                    padding-top: 20px;
                    text-decoration: underline;
                    font-size: 30px;
                }

                p {
                    margin: 10px;
                    padding: 20px;
                    text-align: justify;
                    text-shadow:
                    -1px -1px 0 black,
                    1px -1px 0 black,
                    -1px 1px 0 black,
                    1px 1px 0 black;
                }
            }

            aside {
                width: auto;
                background: rgba(0, 0, 0, 0.6);
                padding: 35px;
                display: flex;
                flex-direction: column;

                img {
                    @extend %transition-hover-scale-otros;
                    border: solid 3px #bb2c2c;
                    height: 220px;
                    width: 300px;
                    margin-bottom: 30px;
                }


                iframe {
                    width: 300px;
                    height: 200px;
                }
            }


        }
        section.aside-culture {
            grid-area: aside-culture;
            background: rgba(0, 0, 0, 0.6);
            @include flex (flex, space-around, center);
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;

            div.card {
                margin: 25px;
                text-align: center;
                

                img.card-img-top {
                    @extend %transition-hover-scale-otros;
                    width: 100%;
                    height: 150px;
                }

                div.card-body {
                    h5 {
                        text-decoration: underline;
                        font-weight: bold
                    }
                    a.btn-primary{
                        @include btn-styles(#bb2c2c, rgb(163, 4, 4), rgb(255, 0, 0));
                        --bs-btn-border-color: none;
                        }
                    a{
                        align-items: center !important;
                        width: 100% !important;
                        background-color: #bb2c2c;
                        
                    }
                    a.card-link {
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }

        footer.pie {
            grid-area: footer;
        }
    }
}

/*!----MERCHANDISING------*/

div.grid-container-merch{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    header.encabezado{
        grid-area:header;
    }
    main.maindates{
        grid-area:main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0%;
        display: flex;
        flex-direction: column;
        a{
            color: whitesmoke;
        }
        h1{
            @extend %centered-box;

        }
        section.merch{
            text-align: center;
            border: solid 1.5px rgb(90, 81, 81);
            background-color: rgba(0, 0, 0, 0.9);
            section.merch-oficial{
                display: flex;
                flex-direction: column;
                h2{
                    color: whitesmoke;
                    text-align: center;
                    padding: 10px;
                    border: solid 1.5px rgb(90, 81, 81);
                    background-color: rgba(0, 0, 0, 0.438);
                }
                div.container-product{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    

                    div.card{
                        background-color: #e0e0e0; 
                        box-shadow: 9px 0px 30px 3px rgba(107,0,0,0.67);
                            -webkit-box-shadow: 9px 0px 30px 3px rgba(107,0,0,0.67);
                            -moz-box-shadow: 9px 0px 30px 3px rgba(107,0,0,0.67);
                        margin: 20px !important;
                        padding: 10px !important;
                        width: 290px !important;

                        a{
                            align-items: center !important;
                            width: 100% !important;
                            background-color: #bb2c2c;
                        }
                        a.btn-primary{
                            @include btn-styles(#bb2c2c, rgb(163, 4, 4), rgb(255, 0, 0));
                            --bs-btn-border-color: none;
                            }
                        img{
                            @extend %transition-hover-scale;

                        }
                        div.card-body{
                            align-items: center !important;
                            h5.card-title{
                                text-decoration: underline;
                            }
                            p.card-text{
                                font-size: 13px;
                            }
                        }
                        ul{
                            border: 2px solid rgba(255, 123, 123, 0.308);
                        }
                    }
                    div.card:hover {
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el cursor */
                    }

                }

            }
        }
    }
    footer.pie{
        grid-area: footer;
    }
}


/*!----NOSOTROS------*/

div.grid-container-contacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header"
        "main"
        "footer";

    header.encabezado {
        grid-area: header;
    }

    main.main-contacto {
        grid-area: main;
        background-image: url(../Img/fondo.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
            h1{
                @extend %centered-box;
    
            }

        section.nosotros {
            background: rgba(0, 0, 0, 0.8);
            color: whitesmoke;
            margin-bottom: 25px;
            padding-top: 15px;
            display: flex;
            flex-direction: row;
            font-size: 18px;
            padding: 10px;
            text-shadow:
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;

            p {
                margin: 5px;
                padding: 20px;
                text-align: justify;
            }

            img {
                transition: 1.7s;
                width: 530px;
                height: 340px;
                border: solid 3px #bb2c2c;
                margin: 10px;
            }
            img:hover{
                transform: scale(1.038);
            }
        }

        div.escuela {
            background-color: rgba(0, 0, 0, 0.6);

            h2 {
                color: whitesmoke;
                background: rgba(0, 0, 0, 0.8);
                text-align: center;
                padding: 30px;
                margin-bottom: 0px;

            }

            section.academia {
                display: flex;
                flex-direction: row;
                background-color: rgba(0, 0, 0, 0.7);

                div.curso {
                    background-image: url(../Img/fases-produccion-musical.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;                   
                    border: 1.5px solid #bb2c2c;
                    
                    div.capa-transparencia{
                        background-color: rgba(0, 0, 0, 0.6);                       

                        h3 {
                            text-align: center;
                            font-size: 26px;
                            padding: 10px;

                        }
    
                        p {
                            text-align: justify;
                            padding: 20px;
                            font-size: 16px;
                            color: whitesmoke;
                            text-shadow:
                                -1px -1px 0 black,
                                1px -1px 0 black,
                                -1px 1px 0 black,
                                1px 1px 0 black;
                        }
    
                        a {
                            text-decoration: none;
                            background-color: black;
                            color:#bb2c2c;
                            margin-left: 10px;
                        }

                    }


                }

                div.curso-dos {
                    background-image: url(../Img/curso-dj.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    font-size: 18px;
                    border: 1.5px solid #bb2c2c;
                    border-left: none;
                    div.capa-transparencia{
                        background-color: rgba(0, 0, 0, 0.6);
                        
                        h3 {
                            text-align: center;
                            font-size: 26px;
                            padding: 10px;
                        }
    
                        p {
                            text-align: justify;
                            padding: 20px;
                            font-size: 16px;
                            color: whitesmoke;
                            text-shadow:
                                -1px -1px 0 black,
                                1px -1px 0 black,
                                -1px 1px 0 black,
                                1px 1px 0 black;
                        }
    
                        a {
                            text-decoration: none;
                            background-color: black;
                            color:#bb2c2c;
                            margin-left: 10px;
                        }

                    }


                }
            }

            div.contacto {
                background: rgba(0, 0, 0, 0.6);
                color: whitesmoke;

                div.equipo {
                    background-color: rgba(0, 0, 0, 0.8);
                    padding-top: 15px;
                    padding-bottom: 15px;
                    text-align: center;
                    border-top: none;

                    h2 {
                        font-size: 25px;
                    }
                }

                div.msj {
                    padding-top: 15px;
                    padding-bottom: 30px;
                    padding-left: 30px;
                    display: flex;
                    flex-direction: column;

                    div.nombre-completo {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                    }

                    div.e-mail {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                    }

                    div.texto {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                    }
                }
            }
        }
    }

    footer.pie {
        grid-area: footer;
    }
}